*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    padding:10px 15px;
    background-color: darkslategrey;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:70px;
    height:70px;
    float:left;
}
nav ul{
  list-style-type: none;
  display:flex;
  width:200px;
  justify-content: space-between;
}
nav input{
    border:none;
    padding:8px;
    border-radius:5px ;
width:200px;
background-color: lightgray;
}
nav ul a{
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
}
header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}