*{
    background-color: lightcoral;
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width:100%;
    height:10%;
    text-align:center;
    margin:auto;
    margin-top:80px;
    border-radius:15px;
    overflow: hidden;
}
table,th,td{
    border:2px solid lightblue;
    border-collapse: collapse;
    padding:10px;
}
th,td{
    border:none;
}
img{
    width:60px;
    height:60px;
    border-radius:50%;
}
#v{
    background-color:lightblue;
}
.vh{
    background-color: lightcyan;
}
.h{
    background-color: white;
}