*{
padding:0;
margin:0;
box-sizing:border-box;
}
.parent{
    width:600px;
    height:600px;
    border:2px solid black;
    margin:auto;
    margin-top:50px;
    display:flex;
    flex-direction:row;
    /* justify-content:space-around; */
    /* align-items:flex-end; */
}
.child{
    width:100px;
    height:100px;
}
.child-1{
    background-color:red;
    flex-grow:1;
}
.child-2{
    background-color:green;
    flex-grow:2;
}
.child-3{
    background-color:blue;
    flex-grow:1;
}