*{
    padding:0;
margin:0;
box-sizing: border-box;
}
form{
    width:500px;
    margin:auto;
    margin-top:100px;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="file"],
textarea
{
    width:100%;
    padding:2px;
    font-size:1.1rem;
}
label{
    font-size:1.2rem;
}
.gap{
  margin-top:15px;
}
input{
   border:2px solid grey;
   outline:none;
}
input:focus{
    border:2px solid orange;
}
input[type="checkbox"],
input[type="radio"]
{
    width:20px;
    height:20px;
    accent-color:lightblue;
}
input:required:valid{
    border:2px solid green;
}
input:invalid:focus{
    border:2px solid red;
}
button{
    border:none;
    background-color:lightblue;
    padding:5px 10px;
    color:white;
    font-size:1.3rem;
    cursor:pointer;
}
button:hover{
    background-color:red;
}