*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
 }
 nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
 }
 nav ul{
     display: flex;
     list-style-type: none;
     justify-content: space-evenly;
 }
.b{
    width:200px;
    margin-left: 10px;
 }
.c{
    width:400px;
 }
nav ul a{
     text-decoration: none;
}
.b1{
     border-radius: 20px;
     padding-right: 60px;
     padding-left: 30px;
     padding: 10px;
     background-color:white;
     color:black;
 }
nav button{
    padding: 12px 15px;
    text-align: center;
    color: blue;
    background-color: white;
    margin: 20px;
 }
.image-con{
    position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;

}
.overlay-box {
  margin-bottom: 120px;
  margin-left: 50px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color:black;
  padding: 15px;
  border-radius: 8px;
  max-width: 80%;
  background-color:rgb(251, 235, 235) ;
}
.v1 h2{
  padding-top: 30px;
  padding: 15px;
  text-align: left;
  text-decoration:underline;
  color: black;
  font-size: 1.5rem;
}

.v1 p{
  padding: 15px;
  text-align: left;
  text-decoration:underline;
  color: black;
  font-size: 1.1rem;
}
.vh2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  gap:15px;
}
.box {
  background-color: #f9f6f6;
  border-radius: 8px;
  padding: 30px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  font-weight: bold;
}
.v2 h3{
  color: black;
  text-decoration: underline;
}
.v2 img{
  width:300px;
  height: 300px;
}
.v2{
  margin: 10px;
}